- content_for(:page_header) do
  .container
    %h1 Page header


.container

  .section
    %h2 Buttons
    .btn.btn-default
      %i.fa.fa-share
      Default
    .btn.btn-primary
      %i.fa.fa-share
      Primary
    .btn.btn-warning
      %i.fa.fa-share
      Warning
    .btn.btn-danger
      %i.fa.fa-share
      危険
    .btn.btn-primary.btn-accent
      %i.fa.fa-share
      アクセントカラーボタン

  - t('.sections').each do |section|
    .section
      %h2= section['title']
      .section-content
        = simple_format section['body']

  .well
    %ul
      - t('.headlines').each_with_index do |headline, i|
        %li
          <h#{i+1}>#{headline}</h#{i+1}>

  .section
    %h2 form
    =form_tag('/', class: 'form-horizontal', role: 'form', method: 'post') do
      .form-group
        %label.col-sm-2.control-label
          label
        .col-sm-10
          %input.form-control{type: 'text', placeholder: 'placeholder'}
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary{type: 'submit'}
            %i.fa.fa-rocket
            Submit
